<section id="process_<%= @process[:pid] %>" class="space-y-6">
  <div class="flex items-center justify-between">
    <h1 class="flex items-baseline gap-2 text-2xl font-bold">
      Litestream

      <% if @process[:status] == "sleeping" %>
        <small class="inline-flex rounded-full px-2 text-sm font-semibold bg-yellow-100 text-yellow-800">
          <%= @process[:status] %>
        </small>
      <% elsif @process[:status] %>
        <small class="inline-flex rounded-full px-2 text-sm font-semibold bg-green-100 text-green-800">
          <%= @process[:status] %>
        </small>
      <% else %>
        <small class="inline-flex rounded-full px-2 text-sm font-semibold bg-red-100 text-red-800">
          not running
        </small>
      <% end %>
    </h1>

    <% if @process[:status] %>
      <small class="text-base">
        #<code><%= @process[:pid] %></code>
      </small>
    <% end %>
  </div>

  <% if @process[:status] %>
    <dl class="grid grid-cols-[fit-content(100%)_1fr] gap-x-4">
      <dt class="font-bold">Started at</dt>
      <dd class="">
        <abbr title="<%= @process[:started] %>" class="underline decoration-dashed decoration-gray-500 cursor-help">
          <time datetime="<%= @process[:started] %>"><%= @process[:started].to_formatted_s(:db) %></time>
        </abbr>
      </dd>
    </dl>
  <% end %>
</section>
<br>
<br>

<section id="databases" class="">
  <div class="mb-3 flex items-center justify-between border-b dark:border-gray-800">
    <h2 class="text-2xl font-bold">Databases</h2>
    <p class="text-right">Total: <strong><%= @databases.size %></strong></p>
  </div>

  <ul class="list-[square] list-outside ml-4">
    <% @databases.each do |database| %>
      <li>
        <div class="flex items-center justify-between">
          <h2 class="text-lg font-bold">
            <code><%= database['path'] %></code>
          </h2>
          <%= button_to "Restore", restorations_path, class: "rounded-md bg-slate-800 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-slate-700", params: { database: database['path'] } %>
        </div>

        <dl class="ml-4 grid grid-cols-[fit-content(100%)_1fr] gap-x-4">
          <dt class="font-bold">Status</dt>
          <dd class=""><%= database['status'] %></dd>

          <dt class="font-bold">Last sync</dt>
          <dd class="">
            <% if database['last_sync_at'] %>
              <abbr title="<%= database['last_sync_at'] %>" class="underline decoration-dashed decoration-gray-500 cursor-help">
                <time datetime="<%= database['last_sync_at'] %>"><%= DateTime.parse(database['last_sync_at']).to_formatted_s(:db) %></time>
              </abbr>
            <% else %>
              Never
            <% end %>
          </dd>
        </dl>

        <br />
        <section id="ltx" class="ml-6">
          <details open="open">
            <summary class="cursor-pointer rounded p-2 hover:bg-gray-50 dark:hover:bg-gray-800">
              LTX Files (<em><%= Array(database['ltx']).size %> files</em>)
            </summary>

            <dl class="ml-7 grid grid-cols-[fit-content(100%)_1fr] gap-x-4">
              <div class="col-span-2">
                <dt class="font-bold">LTX Files</dt>
                <dd class="">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                      <tr>
                        <th scope="col" class="whitespace-nowrap px-2 py-2 text-left text-sm font-semibold text-gray-900 dark:text-gray-100">Level</th>
                        <th scope="col" class="whitespace-nowrap px-2 py-2 text-left text-sm font-semibold text-gray-900 dark:text-gray-100">Min TXID</th>
                        <th scope="col" class="whitespace-nowrap px-2 py-2 text-left text-sm font-semibold text-gray-900 dark:text-gray-100">Max TXID</th>
                        <th scope="col" class="whitespace-nowrap px-2 py-2 text-left text-sm font-semibold text-gray-900 dark:text-gray-100">Created at</th>
                        <th scope="col" class="whitespace-nowrap px-2 py-2 text-right text-sm font-semibold text-gray-900 dark:text-gray-100">Size</th>
                      </tr>
                    </thead>

                    <tbody class="bg-white dark:bg-gray-900">
                      <% database['ltx'].each do |ltx| %>
                        <tr class="align-top even:bg-gray-50 dark:even:bg-gray-800">
                          <td scope="col" class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 dark:text-gray-100">
                            <%= ltx['level'] %>
                          </td>
                          <td scope="col" class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 dark:text-gray-100">
                            <%= ltx['min_txid'] %>
                          </td>
                          <td scope="col" class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 dark:text-gray-100">
                            <%= ltx['max_txid'] %>
                          </td>
                          <td scope="col" class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 dark:text-gray-100">
                            <abbr title="<%= ltx['created'] %>" class="underline decoration-dashed decoration-gray-500 cursor-help">
                              <time datetime="<%= ltx['created'] %>"><%= DateTime.parse(ltx['created']).to_formatted_s(:db) %></time>
                            </abbr>
                          </td>
                          <td scope="col" class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 dark:text-gray-100 text-right">
                            <%= number_to_human_size ltx['size'] %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </dd>
              </div>
            </dl>
          </details>
        </section>
      </li>
    <% end %>
  </ul>
</section>
